@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {font-family: 'Lato', sans-serif;}

nav {background-color: #004aad;}

nav img {width: 30%;}

#navlinks a {
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 0 0.45rem;
}

article {margin-top: 10%;}

article > div {width: 40%;}