@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {font-family: 'Lato', sans-serif;}

nav {background-color: #004aad;}

.navbar-brand {width: 30%;}

#logo {width: 100%;}

#navlinks a {
    color: white;
    text-decoration: none;
    padding: 0 0.5rem;
}

article {margin-top: 10%;}

article > div {width: 40%;}

h1 {color: #004aad;}

.dropdown-menu a:hover {
    color: #004aad;
}

.btn {
    background-color: #004aad;
    border-color: #004aad;
}

#logincheck {display: none;}